web:
    image: nginx:stable
    ports:
        - "80:80"
        - "9001:9001"
    volumes:
        - .:/var/www
        - ./config/docker/web/default.conf:/etc/nginx/conf.d/default.conf
    links:
        - php
php:
    image: php7-dne
    volumes:
        - .:/var/www
